@charset "UTF-8";

/*---ШРИФТЫ---*/

@font-face {
  font-family: VeranoSans;
  font-display: swap;
  src: url("../fonts/VeranoSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: VeranoSans;
  font-display: swap;
  src: url("../fonts/VeranoSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: VeranoSans;
  font-display: swap;
  src: url("../fonts/VeranoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Butler_Ultra_Light;
  font-display: swap;
  src: url("../fonts/Butler_Ultra_Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: VeranoSans;
  font-display: swap;
  src: url("../fonts/VeranoSans-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

/*---ОБНУЛЕНИЕ---*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

[hidden] {
  display: none;
}

* img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input[type=text],
input[type=email],
input[type=password] {
  border: 1px solid #c4c4c4;
  padding: 1rem;
}

input[type=text]:focus::-webkit-input-placeholder, input[type=email]:focus::-webkit-input-placeholder, input[type=password]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type=text]:focus::-moz-placeholder, input[type=email]:focus::-moz-placeholder, input[type=password]:focus::-moz-placeholder {
  color: transparent;
}

input[type=text]:focus:-ms-input-placeholder, input[type=email]:focus:-ms-input-placeholder, input[type=password]:focus:-ms-input-placeholder {
  color: transparent;
}

input[type=text]:focus::-ms-input-placeholder, input[type=email]:focus::-ms-input-placeholder, input[type=password]:focus::-ms-input-placeholder {
  color: transparent;
}

input[type=text]:focus::placeholder,
input[type=email]:focus::placeholder,
input[type=password]:focus::placeholder {
  color: transparent;
}

/*---CSS ПЕРЕМЕННЫЕ---*/

/*---ЦВЕТОВАЯ СХЕМА И СТРАНИЦА---*/

html._dark {
  --bg-color: #181818;
  --text-color: #fff;
}

html._dark .switcher__radio {
  -webkit-filter: invert(1);
          filter: invert(1);
}

html._dark .switcher__radio:checked {
  -webkit-filter: invert(0);
          filter: invert(0);
}

html._dark .switcher__status {
  -webkit-filter: invert(1);
          filter: invert(1);
}

html._light {
  --bg-color: #fff;
  --text-color: #181818;
}

html._light .switcher__radio {
  -webkit-filter: invert(0);
          filter: invert(0);
}

html._light .switcher__radio:checked {
  -webkit-filter: invert(1);
          filter: invert(1);
}

html._light .switcher__status {
  -webkit-filter: invert(0);
          filter: invert(0);
}

body {
  font-family: "VeranoSans", sans-serif;
  font-weight: 400;
  -webkit-transition: background-color 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body._locked {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

/*---ОБЩИЕ КЛАССЫ---*/

/*===========================================*/

/*---Стили страницы---*/

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 35px 0;
}

#preloader {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  position: fixed;
  inset: 0;
  z-index: 100;
  -webkit-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
}

#preloader.disappear {
  top: -100%;
}

#preloader #circle3 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px var(--text-color) solid;
  border-right: 4px var(--text-color) solid;
  border-bottom: 4px var(--text-color) solid;
  border-radius: 50%;
  -webkit-animation: spin3 1s infinite linear;
  animation: spin3 1s infinite linear;
}

@-webkit-keyframes spin3 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin3 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.lang-switcher {
  font-size: 20px;
  border: 1px solid var(--text-color);
  padding: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: var(--bg-color);
  z-index: 2;
  cursor: pointer;
}

.menu {
  z-index: 5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu._active .menu__icon._footerFixed {
  top: -75px;
}

.menu._active .menu__body {
  height: 250px;
}

.menu__icon {
  position: absolute;
  top: -75px;
  right: 20px;
  height: 40px;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
}

.menu__icon._footerFixed {
  top: -250px;
}

.menu__icon span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  right: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
}

.menu__icon span:first-child {
  top: 0;
}

.menu__icon span:last-child {
  top: auto;
  bottom: 0;
  width: 40%;
}

.menu__icon._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 100%;
}

.menu__icon._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.menu__icon._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.menu__body {
  height: 0px;
  width: 100%;
  background-color: #4f4e4e;
  -webkit-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.menu__body .aside {
  position: static;
}

.menu__section {
  height: 100%;
  width: 360px;
}

.menu__section img {
  height: 100%;
  width: 100%;
}

.menu .aside {
  padding: 30px 10px;
}

.menu .personal-menu {
  background-color: #2a2a2a;
  padding: 23px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .personal-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.menu .personal-menu__avatar {
  height: 55px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4f4e4e;
}

.menu .personal-menu__date {
  font-weight: 300;
  font-size: 14px;
  opacity: 0.33;
  margin-bottom: 3px;
}

.menu .personal-menu__name {
  font-weight: 500;
  font-size: 14px;
}

.menu .personal-menu__link {
  font-weight: 500;
  font-size: 32px;
}

.menu-icon-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #a3a3a3;
  border-radius: 50%;
}

.menu-icon-mobile span {
  width: 70%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
}

.main-section {
  position: relative;
}

.logo {
  position: fixed;
  top: 5px;
  left: 10px;
}

@supports (font-size: clamp( 6.25rem , -0.8928571429rem  +  35.7142857143vw , 31.25rem )) {
  .logo {
    font-size: clamp( 6.25rem , -0.8928571429rem  +  35.7142857143vw , 31.25rem );
  }
}

@supports not (font-size: clamp( 6.25rem , -0.8928571429rem  +  35.7142857143vw , 31.25rem )) {
  .logo {
    font-size: calc(
			6.25rem + 25 * (100vw - 20rem) / 70
		);
  }
}

.info-list {
  margin-top: 32vw;
}

.info-list-item {
  font-weight: 500;
  line-height: 77/64;
}

@supports (font-size: clamp( 1.25rem , 0.4642857143rem  +  3.9285714286vw , 4rem )) {
  .info-list-item {
    font-size: clamp( 1.25rem , 0.4642857143rem  +  3.9285714286vw , 4rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.4642857143rem  +  3.9285714286vw , 4rem )) {
  .info-list-item {
    font-size: calc(
			1.25rem + 2.75 * (100vw - 20rem) / 70
		);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.5357142857rem  +  3.5714285714vw , 3.75rem )) {
  .info-list-item:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.5357142857rem  +  3.5714285714vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5357142857rem  +  3.5714285714vw , 3.75rem )) {
  .info-list-item:not(:last-child) {
    margin-bottom: calc(
			1.25rem + 2.5 * (100vw - 20rem) / 70
		);
  }
}

@supports (margin-top: clamp( 3.125rem , 1.1607142857rem  +  9.8214285714vw , 10rem )) {
  .portfolio {
    margin-top: clamp( 3.125rem , 1.1607142857rem  +  9.8214285714vw , 10rem );
  }
}

@supports not (margin-top: clamp( 3.125rem , 1.1607142857rem  +  9.8214285714vw , 10rem )) {
  .portfolio {
    margin-top: calc(
			3.125rem + 6.875 * (100vw - 20rem) / 70
		);
  }
}

.portfolio-title {
  font-family: "Butler_Ultra_Light";
  font-style: normal;
}

@supports (font-size: clamp( 3.125rem , 1.1607142857rem  +  9.8214285714vw , 10rem )) {
  .portfolio-title {
    font-size: clamp( 3.125rem , 1.1607142857rem  +  9.8214285714vw , 10rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 1.1607142857rem  +  9.8214285714vw , 10rem )) {
  .portfolio-title {
    font-size: calc(
			3.125rem + 6.875 * (100vw - 20rem) / 70
		);
  }
}

@supports (margin-top: clamp( 1.875rem , 1.6964285714rem  +  0.8928571429vw , 2.5rem )) {
  .portfolio-list {
    margin-top: clamp( 1.875rem , 1.6964285714rem  +  0.8928571429vw , 2.5rem );
  }
}

@supports not (margin-top: clamp( 1.875rem , 1.6964285714rem  +  0.8928571429vw , 2.5rem )) {
  .portfolio-list {
    margin-top: calc(
			1.875rem + 0.625 * (100vw - 20rem) / 70
		);
  }
}

.portfolio-list-item .face {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.portfolio-list-item .hover {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.portfolio-list-item a {
  font-weight: 500;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: clamp(1.25rem, -0.1071428571rem + 6.7857142857vw, 6rem);
  overflow: hidden;
}

@supports (font-size: clamp( 1.25rem , -0.1071428571rem  +  6.7857142857vw , 6rem )) {
  .portfolio-list-item a {
    font-size: clamp( 1.25rem , -0.1071428571rem  +  6.7857142857vw , 6rem );
  }
}

@supports not (font-size: clamp( 1.25rem , -0.1071428571rem  +  6.7857142857vw , 6rem )) {
  .portfolio-list-item a {
    font-size: calc(
			1.25rem + 4.75 * (100vw - 20rem) / 70
		);
  }
}

.portfolio-list-item a span:not(.info):not(.face) {
  font-family: "Butler_Ultra_Light";
  font-weight: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-list-item a span.info {
  font-family: "VeranoSans";
  white-space: nowrap;
}

@supports (font-size: clamp( 0.3125rem , -0.0267857143rem  +  1.6964285714vw , 1.5rem )) {
  .portfolio-list-item a span.info {
    font-size: clamp( 0.3125rem , -0.0267857143rem  +  1.6964285714vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.3125rem , -0.0267857143rem  +  1.6964285714vw , 1.5rem )) {
  .portfolio-list-item a span.info {
    font-size: calc(
			0.3125rem + 1.1875 * (100vw - 20rem) / 70
		);
  }
}

.aside {
  width: 35%;
  padding: 35px 0;
  position: fixed;
  top: 0;
  right: 0;
}

.aside.aside-fixed {
  position: absolute;
  top: auto;
  bottom: 0;
  right: -3px;
}

.aside-list-item {
  font-size: 24px;
}

.aside-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.theme-switcher {
  font-weight: 100;
  font-size: 24px;
  line-height: 0.9;
  cursor: pointer;
}

@supports (margin-top: clamp( 3.125rem , 1.4285714286rem  +  8.4821428571vw , 9.0625rem )) {
  .theme-switcher {
    margin-top: clamp( 3.125rem , 1.4285714286rem  +  8.4821428571vw , 9.0625rem );
  }
}

@supports not (margin-top: clamp( 3.125rem , 1.4285714286rem  +  8.4821428571vw , 9.0625rem )) {
  .theme-switcher {
    margin-top: calc(
			3.125rem + 5.9375 * (100vw - 20rem) / 70
		);
  }
}

/*--------------------Footer--------------------*/

.footer {
  padding-bottom: 50px;
}

@supports (margin-top: clamp( 1.25rem , -1.0714285714rem  +  11.6071428571vw , 9.375rem )) {
  .footer {
    margin-top: clamp( 1.25rem , -1.0714285714rem  +  11.6071428571vw , 9.375rem );
  }
}

@supports not (margin-top: clamp( 1.25rem , -1.0714285714rem  +  11.6071428571vw , 9.375rem )) {
  .footer {
    margin-top: calc(
			1.25rem + 8.125 * (100vw - 20rem) / 70
		);
  }
}

.footer__item {
  border-top: 1px solid var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding-top: clamp( 1.875rem , 1.25rem  +  3.125vw , 4.0625rem )) {
  .footer__item {
    padding-top: clamp( 1.875rem , 1.25rem  +  3.125vw , 4.0625rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.25rem  +  3.125vw , 4.0625rem )) {
  .footer__item {
    padding-top: calc(
			1.875rem + 2.1875 * (100vw - 20rem) / 70
		);
  }
}

.footer__link span {
  display: block;
  font-weight: 300;
  font-size: 24px;
}

.footer__link a {
  font-weight: 500;
  position: relative;
}

@supports (font-size: clamp( 1.875rem , 1.6964285714rem  +  0.8928571429vw , 2.5rem )) {
  .footer__link a {
    font-size: clamp( 1.875rem , 1.6964285714rem  +  0.8928571429vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.6964285714rem  +  0.8928571429vw , 2.5rem )) {
  .footer__link a {
    font-size: calc(
			1.875rem + 0.625 * (100vw - 20rem) / 70
		);
  }
}

.footer__link a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--text-color);
}

.footer__copyright {
  font-weight: 200;
  font-size: 18px;
}

@media (min-width: 47.9375em) {
  .info-list {
    max-width: 60%;
  }
}

@media (min-width: 48.0625em) {
  .menu-icon-mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .menu__icon {
    display: none;
  }

  .menu__section {
    display: none;
    width: auto;
  }

  .menu__personal {
    display: block;
  }

  .aside.aside-fixed {
    position: static;
  }

  .theme-switcher {
    display: none;
  }

  .footer {
    padding-bottom: 75px;
  }
}

@media (max-width: 36em) {
  .menu._active .menu__body {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu .personal-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu .personal-menu__header {
    display: none;
  }
}

@media (max-width: 50.75em) {
  .menu__icon {
    width: 80px;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    -webkit-transition-duration: 0.01ms !important;
         -o-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --bg-color: #181818;
    --text-color: #fff;
  }

  html .switcher__radio {
    -webkit-filter: invert(1);
            filter: invert(1);
  }

  html .switcher__radio:checked {
    -webkit-filter: invert(0);
            filter: invert(0);
  }

  html .switcher__status {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}

@media (prefers-color-scheme: light) {
  html {
    --bg-color: #fff;
    --text-color: #181818;
  }

  html .switcher__radio {
    -webkit-filter: invert(0);
            filter: invert(0);
  }

  html .switcher__radio:checked {
    -webkit-filter: invert(1);
            filter: invert(1);
  }

  html .switcher__status {
    -webkit-filter: invert(0);
            filter: invert(0);
  }
}

@media (any-hover: hover) {
  .portfolio-list-item a:hover .face {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .portfolio-list-item a:hover .hover {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}